{extends file=$conf->root_path|cat:"\app\Views\main.html"}
<?php
	session_start();
?>
{block name=head}
<!-- All the files that are required -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link href="{$path}/css/login-form.css" rel="stylesheet">
{/block}

{block name=top}
<div class="row">
    <div class="box">
        <!-- REGISTRATION FORM -->
        <div class="text-center" style="padding:50px 0">
            <div class="logo">register</div>
            <!-- Main Form -->
            <div class="login-form-1">
                <!--id="register-form"-->
                <form class="text-left" method="post" action="{$conf->action_url}regi">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="reg_email" class="sr-only">Email</label>
                                <input type="text" class="form-control" id="reg_email" name="email"
                                       placeholder="e-mail">
                            </div>
                            <div class="form-group">
                                <label for="reg_password" class="sr-only">Hasło</label>
                                <input type="password" class="form-control" id="reg_password"
                                       name="pass1" placeholder="hasło">
                            </div>
                            <div class="form-group">
                                <label for="reg_password_confirm" class="sr-only">Powtórz hasło</label>
                                <input type="password" class="form-control" id="reg_password_confirm"
                                       name="pass2" placeholder="powtórz hasło">
                            </div>
                            <div class="form-group">
                                <label for="reg_username" class="sr-only">Adres email</label>
                                <input type="text" class="form-control" id="reg_username" name="name"
                                       placeholder="imię">
                            </div>
                            <div class="form-group">
                                <label for="reg_fullname" class="sr-only">Full Name</label>
                                <input type="text" class="form-control" id="reg_fullname"
                                       name="surname" placeholder="nazwisko">
                            </div>
                            <div class="form-group">
                                <label for="reg_fullname" class="sr-only">Full Name</label>
                                <input type="tel" class="form-control" id="reg_phone" name="phone"
                                       placeholder="telefon">
                            </div>
                            <div class="form-group login-group-checkbox">
                                <input type="checkbox" class="" id="reg_agree" name="reg_agree">
                                <label for="reg_agree">wyrażam zgodę na <a href="#">regulamin</a></label>
                            </div>
                        </div>
                        <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
                    </div>
                    <div class="etc-login-form">
                        <p>posiadasz konto? <br><a href="?action=booking">zaloguj się</a></p>
                    </div>
                </form>
            </div>
            <!-- end:Main Form -->
        </div>

        <!--&lt;!&ndash; FORGOT PASSWORD FORM &ndash;&gt;-->
        <!--<div class="text-center" style="padding:50px 0">-->
        <!--<div class="logo">forgot password</div>-->
        <!--&lt;!&ndash; Main Form &ndash;&gt;-->
        <!--<div class="login-form-1">-->
        <!--<form id="forgot-password-form" class="text-left">-->
        <!--<div class="etc-login-form">-->
        <!--<p>When you fill in your registered email address, you will be sent instructions on how to reset-->
        <!--your password.</p>-->
        <!--</div>-->
        <!--<div class="login-form-main-message"></div>-->
        <!--<div class="main-login-form">-->
        <!--<div class="login-group">-->
        <!--<div class="form-group">-->
        <!--<label for="fp_email" class="sr-only">Email address</label>-->
        <!--<input type="text" class="form-control" id="fp_email" name="fp_email"-->
        <!--placeholder="email address">-->
        <!--</div>-->
        <!--</div>-->
        <!--<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>-->
        <!--</div>-->
        <!--<div class="etc-login-form">-->
        <!--<p>already have an account? <a href="#">login here</a></p>-->
        <!--<p>new user? <a href="#">create new account</a></p>-->
        <!--</div>-->
        <!--</form>-->
        <!--</div>-->
        <!--&lt;!&ndash; end:Main Form &ndash;&gt;-->
    </div>
    <div class="clearfix"></div>
</div>
</div>
<script src="{$path}/js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
<script src="hhttps://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/localization/messages_pl.js"></script>
<script src="{$path}/js/login-form.js"></script>


{/block}