{extends file=$conf->root_path|cat:"\app\Views\main.html"}
{block name=top}
<div class="row">
    <div class="box">
        <form action="{$conf->action_url}reg" method="post">
            Nickname: <input type="text" name="nickname"><br>
            Nickname: <input type="text" name="nickname"><br>
            Nickname: <input type="text" name="nickname"><br>
            Nickname: <input type="text" name="nickname"><br>
            Nickname: <input type="text" name="nickname"><br>
        </form>
    </div>
</div>

{/block}